<div class="login-form">
  <button routerLink="/login">Go to Login</button>
  <form (ngSubmit)="forgotPassword()">
    <h1>Forgot Credentials</h1>
    <div class="content">
      <div class="input-field">
        <input type="email" placeholder="Enter your Registered Email" id="email" name="email" autocomplete="nope" pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" [(ngModel)]="user.email">
      </div>
    </div>
    <div class="action">
      <button type="submit">Get Your Password.</button>
    </div>
  </form>
</div>
