
<div class="container" style="top: 20px; left: 10px; width: 1200px; overflow: scroll;" >
  <div class="pt-5" >
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <h3>All Orders</h3>
          </div>
        </div>
      </div>
      <div class="card-body" style="height: 575px; overflow-y : scroll;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">OrderId</th>
              <th scope="col">Customer Email</th>
              <th scope="col">Washer Name</th>
              <th scope="col">Washpack</th>
              <th scope="col">Status</th>
              <th scope="col">Car Count</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let order of OrderList; let i=index;" class="clickable" style="cursor: pointer;" (click)="onclick(order.orderId)" >
              <td>{{order.orderId}}</td>
              <td>{{ order.useremailid }}</td>
              <td><select>
                <!-- <option *ngFor=""></option> -->
              </select></td>
              <td>{{ order.washpack }}</td>
              <td>{{ order.status }}</td>
              <td>{{ order.cars.carCount }}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
