<div class="main">

  <div class="nav-container" >
    <button id="backButton" routerLink="/user">Back</button>
    <ul>
      <a class="arrow" routerLink="/user"><i class="fas fa-arrow-alt-right"></i>Home</a>
      <a class="arrow" routerLink="/user/addOrder">Add Order</a>
      <a class="arrow" routerLink="/user/seeOrder">All Orders</a>
      <a class="arrow" routerLink="/user/washPacks"><i class="fas fa-arrow-alt-right"></i>See Washpacks</a>
      <a class="arrow"><i class="fas fa-arrow-alt-right"></i>Add Ratings</a>
      <a class="arrow"><i class="fas fa-arrow-alt-right"></i>Contact</a>
    </ul>
  </div>
  <div class="outlet-container" >
    <router-outlet></router-outlet>
  </div>


</div>

