<div class="main-container">
  <p style="text-align: center; font-size: 30px; color: rgb(23, 25, 25);">Regular car washes will help prevent rust, scratches, dull paint, and
    other issues that take away from the look of your car and may impact your resale value. It also gives you a good
    opportunity to keep an eye out for those issues, so you can get them fixed well in advance</p>
    <div class="scroll-container">
      <img src="https://live.staticflickr.com/8585/16351537722_2cb1c4dbfc_b.jpg" alt="Cinque Terre">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgnnLoE9ms95osGyegMQBOc67YCjdvMBXIbziXpHV6HRP7Mi04pp8Z53Fm2rl38ruU2Io&usqp=CAU" alt="Forest">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTMUJf4wBvcux7FU67dK5y3hCGP0Uy-zOGZJe-Ex5nRPWOOkL910PJg3jpe4Q1Ufa2Enc&usqp=CAU" alt="Northern Lights">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAVqnTVINLUTVkkKysjKXUPS3GNbaPmYjMgQ&usqp=CAU" alt="Mountains">
    </div>
  <button *ngIf="!userauth.isLoggedIn()" id="bookOrder" routerLink="/login">Get Your Car Washed Now..</button>
  <button *ngIf=" userauth.isLoggedIn()"  id="bookOrder" routerLink="/user/addOrder">Get Your Car Washed Now..</button>
</div>
