<div class="login-form">
    <form (ngSubmit)="change()">
      <h1>Change Password</h1>
      <div class="content">
        <div class="input-field">
          <input type="password" placeholder="Enter Old Password" id="oldPassword" name="oldPassword" autocomplete="nope" [(ngModel)]="oldPassword">
        </div>
        <div class="input-field">
          <input type="password" placeholder="Enter New Password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" >
        </div>
      
      </div>
      <div class="action">
        <button type="submit">Change Passowrd</button>
      </div>
    </form>
  </div>
